* {
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: #fff;
	font-style: normal;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
}

#top {
	height: 80px;
	line-height: 80px;
	background-color: #000;
	width: 100%;
	position: absolute;
	z-index: 5;
	top: 0;
	text-align: center;
	clear: both;
}

#foot {
	height: 50px;
	line-height: 50px;
	background-color: #000;
	color: #fff;
	width: 100%;
	position: absolute;
	z-index: 200;
	bottom: 0;
	text-align: center;
	clear: both;
	font-weight: 800;
}

#container {
	width: 100%;
	height: auto;
	overflow: hidden;
	top: 80px;
	bottom: 50px;
	left: 0px;
	right: 0px;
	position: absolute;
	z-index: 0;
	clear: both;
}

#left {
	width: 15%;
	height: 100%;
	background-color: #600000;
	float: left;
	position: relative;
	overflow: hidden;
}

#right {
	width: 85%;
	height: 100%;
	background-color: #600000;
	float: left;
	position: relative;
	overflow-y: auto;
	overflow-x: hidden;
}

#tabBox, #jobDetail, #searchBox, #stackTraceBox {
	background-color: #600000;
	width: calc(100% - 20px);
	margin: 0px auto;
	clear: both;
}

#searchBox {
	height: 60px;
	clear: both;
}

#tabBox {
	min-height: 360px;
	height: auto;
}

#currentClusterName {
	float: right;
	display: inline-block;
	margin-right: 15px;
	margin-top: 30px;
	width: 160px;
	height: 30px;
	line-height: 30px;
	padding-left: 5px;
}

#tabContent {
	width: 100%;
	clear: both;
}

.division {
	clear: both;
	height: 10px;
	width: 100%;
}

#logBox {
	min-height: 320px;
	width: calc(100% - 20px);
	margin: 0px auto;
	clear: both;
	background-color: #3C3C3C;
	border: 2px solid #000;
	overflow-x: auto;
}

.logItem {
	width: calc(100% - 10px);
	margin-top: 5px;
	margin-left: 5px;
	text-align: left;
	white-space: nowrap;
}

#stackTraceBox {
	clear: both;
	height: auto;
	min-height: 350px;
	background-color: #3C3C3C;
	border: 2px solid #000;
}

.traceItem {
	width: 100%;
	text-align: left;
	font-size: 12px;
}

.traceItem pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}

input, select, textarea {
	font: 14px Arial, Helvetica, sans-serif;
}

img {
	cursor: pointer;
}

#logoText {
	font-weight: 800;
	font-size: 26pt;
	float: left;
	display: inline-block;
	height: 100%;
	color: #fff;
	margin-left: 110px;
	cursor: pointer;
}

#subLogoText {
	font-style: italic;
	font-size: 14px;
	float: left;
	display: inline-block;
	height: 28px;
	line-height: 28px;
	color: #fff;
	margin-left: 20px;
	margin-top: 34px;
}

#navBox {
	width: 100%;
	display: block;
	margin-top: 60px;
	font-size: 14pt;
}

#navBox li {
	list-style: none;
	display: block;
	width: cal(100% - 10px);
	height: 50px;
	line-height: 50px;
	text-align: left;
	margin: 0px 5px;
	cursor: pointer;
	clear: both;
}

#navBox li a {
	display: inline-block;
	float: left;
	margin-left: 10px;
	font-weight: 800;
	color: #fff;
}

#navBox li em {
	display: inline-block;
	float: right;
	margin-right: 10px;
	font-weight: 800;
	font-style: normal;
}

#saveBtn {
	width: calc(100% - 10px);
	height: 36px;
	line-height: 36px;
	padding: 5px auto;
	cursor: pointer;
	text-align: center;
	font-weight: 800;
	float: left;
	display: inline-block;
	margin: 10px 5px;
	background-color: #0066CC;
	color: #fff;
}

#saveBtn:hover {
	color: #000;
	background-color: #46A3FF;
}

#editBtn:hover {
	color: #000;
	background-color: #46A3FF;
}

#sec-nav {
	width: 100%;
	clear: both;
	padding: 5px 0px 10px 0px;
}

#sec-nav ul {
	width: auto;
	height: 28px;
	line-height: 28px;
	display: block;
	font-size: 13px;
}

#sec-nav ul li {
	list-style: none;
	float: left;
	display: inline-block;
	margin-right: 5px;
	width: 80px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	border: 1px solid #DCDCDC;
	cursor: pointer;
	background-color: #fff;
	border-radius: 10px;
	padding: 0px 10px;
}

#leftTop {
	width: 70%;
	height: 50px;
	float: left;
	display: inline-block;
	margin-top: 5px;
}

#rightTop {
	width: 30%;
	height: 50px;
	float: left;
	display: inline-block;
	margin-top: 20px;
}

#rightTop span {
	display: block;
	text-align: right;
	left: right;
	height: 20px;
	margin: 2px 20px 2px;
}

.cBtn {
	width: 80px;
	padding: 5px 20px;
	cursor: pointer;
}

.tblCom {
	table-layout: fixed;
}

.tblCom thead tr {
	height: 38px;
	line-height: 38px;
	border-top: 1px solid #BEBEBE;
	background-color: #000;
}

.tblCom thead tr td {
	height: 38px;
	line-height: 38px;
	font-weight: 800;
	color: #fff;
	border-left: 1px solid #BEBEBE;
	border-top: 1px solid #BEBEBE;
	border-bottom: 1px solid #BEBEBE;
}

.tblCom thead tr td:nth-child(1) {
	border-left: 1px solid #BEBEBE;
	text-align: center;
}

.tblCom thead tr td:last-child {
	border-right: 1px solid #BEBEBE;
}

.tblCom tbody tr {
	height: 38px;
	line-height: 38px;
}

.tblCom tbody tr td {
	height: 38px;
	line-height: 38px;
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	border-left: 1px solid #BEBEBE;
	border-bottom: 1px solid #BEBEBE;
	text-indent: 5px;
	color: #fff;
}

.tblCom tbody tr td:nth-child(1) {
	border-left: 1px solid #BEBEBE;
	text-align: center;
}

.tblCom tbody tr td:last-child {
	border-right: 1px solid #BEBEBE;
	text-align: center;
}

.tdLeft5 {
	text-align: left;
	padding-left: 5px;
}

.tdLeft10 {
	text-align: left;
	padding-left: 10px;
}

.tdRight5 {
	text-align: right;
	padding-right: 5px;
}

.tdRight10 {
	text-align: right;
	padding-right: 10px;
}

.trGreen {
	color: #00BB00;
}

.trRed {
	color: #D9006C;
}

.popTop {
	width: 520px;
	height: 30px;
	line-height: 30px;
	margin: 0px 10px 15px;
	text-align: left;
}

.popTitle {
	font-weight: bold;
	font-size: 15px;
	letter-spacing: 1px;
}

.popClose {
	display: inline-block;
	float: right;
	width: 22px;
	height: 22px;
	margin: 4px 0px;
	background: url('../img/mod_close.png') no-repeat scroll transparent;
	cursor: pointer;
}

.popBox {
	width: 550px;
	text-align: left;
	padding: 5px 10px;
	height: auto;
	overflow: hidden;
}

.popContent p {
	height: auto;
	display: block;
	line-height: 30px;
	margin-bottom: 2px;
	width: 100%;
}

.popContent p label {
	display: inline-block;
	width: 100px;
	height: 30px;
	text-align: right;
	padding-right: 10px;
	font-weight: bold;
}

a:link {
	text-decoration: none;
	font-weight: 800;
	color: #0066CC;
}

a:visited {
	text-decoration: none;
	font-weight: 800;
	color: #0066CC;
}

a:hover {
	text-decoration: none;
	color: #FF0000;
}

a:active {
	text-decoration: none;
	font-weight: 800;
	color: #0066CC;
}

.tabNoData {
	display: table;
	width: 100%;
	min-height: 450px;
	line-height: 450px;
}